//============================
//    	Name: @KEYFRAMES
//============================

+key(header-accord-true) {
	0% {
		margin-bottom -100%
	}
	100% {
		margin-bottom 0%
	}
}
+key(header-accord-false) {
	100% {
		max-height: 0%
	}
	0% {
		max-height: 100%
	}
}

+key(smooth-x-moving) {
	for i in 0..5 {
		{100% - (10% * i)} {
			transform: translateX(-.45% * i)
		}
		{100% - (20% * i)} {
			transform: translateX(.45% * i)
		}
	}
}

+key(blink-blink) {
	0% 
	opacity 0
	50%
	opacity 1
	100%
	opacity 0
}

+key(swift-right-true) {
	from
	margin-right -100%
	to
	margin-right 0
}
