//============================
//    	Name: BUTTONS
//============================

btn {
	+__() {
		.button {
			font-size: 1rem;
			border: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem 2.5rem;
			background-color: $$orange;
			text-decoration: none;
			font-style: normal;
			color: $$white;
			font-family fregular
			font-weight 700
			cursor: pointer;
			bord: 1rem
			text-transform: uppercase;
			user-select none
			&:hover {
				background-color darken($$orange, 7)
			}
			&:active {
				background-color darken($$orange, 17)
			}
			&--base {
				background-color $$orange
				color: $$white
			}
			&--red {
				setColor = $$red
				background-color setColor
				color: $$white
				&:hover {
					background-color darken(setColor, 7)
				}
				&:active {
					background-color darken(setColor, 17)
				}
			}
			&--cyan {
				setColor = $$cyan
				background-color setColor
				color: $$white
				&:hover {
					background-color darken(setColor, 7)
				}
				&:active {
					background-color darken(setColor, 17)
				}
			}
		}
	}
}