//============================
//    Name: 404.html
//    Desc: Error page
//============================

dummy {
	+__() {
		.section--background {
			background-size cover
			background-position center center
			background-color #ddd
		}
		.container {
			display: grid;
			grid-template: 1fr / 1fr
			min-height: 100vh;
			align-items: center;
			justify-content: center;
			+media(1069) {
				grid-template-columns: minmax(11rem, auto) 1fr minmax(2.2rem, auto);
				grid-template-rows: 3rem;
				grid-gap: 0
				min-height unset
				max-height 5rem
			}
		}
		.title {
			display: grid;
			color: $$black
		}
		.h2 {
			display: grid;
			color: $$red
		}
	}
}